body {
  font-family: Impact;
  background-image: linear-gradient(rgb(250, 6, 250), rgb(26, 26, 2));
  

}

.roomname {
  font-size: 30px;
  text-align: center;
  color: chartreuse;
  
}



.description {
  padding: 10px;
}


#hall2igor {
  width: 50px;
  height: 100px;
  display: inline-block;
  background-color: rgb(245, 6, 193);
  border: 10px ridge rgb(17, 12, 5);
  border-bottom: none;
  padding: 10px;
  color: chartreuse;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 10;
}

#hall2woody {
  width: 50px;
  height: 100px;
  display: inline-block;
  background-color: rgb(245, 6, 193);
  border: 10px ridge rgb(20, 1, 1);
  border-bottom: none;
  padding: 10px;
  color: chartreuse;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 10;
}









